<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Dev Temp</title>
  <script src="/vue.js"></script>
  <script src="/axios.min.js"></script>
</head>
<body>
  <div id="addDevTempApp">
    <form @submit.prevent="submitForm">
      <div>
        <label for="devTemp.x">id : </label>
        <input id="devTemp.x" type="text" placeholder="input x value" v-model="devTemp.x">
      </div>
      <div>
        <button type="submit">write</button>
      </div>
      <div>
        <p v-if="errorShow">
          <ul>
            <li v-for="error in errors" style="color:#FF0000;">{{ error }}</li>
          </ul>
        </p>
      </div>
    </form>
  </div>
  <script>
    const form = new Vue({
      el : '#addDevTempApp',
      data : {
        devTemp : {
          x : '',
        },
        errors : [],
        errorShow : false,
        tryCnt : 0
      },
      methods : {
        validation : function() {
          this.errors = [];

          if(!this.devTemp.x)
            this.errors.push('x is not be empty');

          if(!this.errorShow)
            return true;
        },
        clear : function() {
          this.devTemp.x = '';
        },
        submitForm : function() {
          this.validation();

          if(this.errors.length == 0)
          {
            axios.post('/addDevTemp', this.devTemp)
            .then((res) => {
              console.log(res);
            })
            .catch((err) => {
              console.error(err);
            })
            .finally(() => {
              this.tryCnt++;
            })
          }

          this.clear();
        }
      }
    })
  </script>
</body>
</html>